* {
    font-family: 'Limelight', cursive;
}
 
td {
    border: 2px solid black;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    background-color: rgba(254, 224, 0, 0.25);
    border-radius: 15px;
    margin: 5px;
}


a {
    padding: 10px;
    color: #C00021;
    text-shadow: 2px 2px 2px grey;
}

a:hover {
    color:rgb(96, 3, 3);
}

th {
    border: 2px solid black;
    background-color: #FCC252;
    padding: 10px;
}

button {
    margin: 10px;
    margin-bottom: 50px;
    align-items: center;
    padding: 8px;
    border-radius: 15px;
}

button:hover {
    background-color: #C00021;
}

img {
    width: 100px;
    filter: drop-shadow(5px 5px 5px rgb(49, 56, 56));
}

td:empty {
    width: 150px;
}

table {
    margin: 20px;
    margin-left: 125px;
    margin-right: 125px;
}

body {
    text-align: center;
}

h1 {
    font-size: 150px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2 {
    margin-top: 0px;
}